.embedded-core-form {

  // scss-docs-start btn-outline-variant-mixin
  @mixin button-outline-variant(
    $color,
    $color-hover: color-contrast($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-contrast($active-background)
  ) {
    color: $color;
    border-color: $color;
  
    &:hover {
      color: $color-hover;
      background-color: $active-background;
      border-color: $active-border;
    }
  
    .btn-check:focus + &,
    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
    }
  
    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active,
    &.dropdown-toggle.show {
      color: $active-color;
      background-color: $active-background;
      border-color: $active-border;
  
      &:focus {
          // Avoid using mixin so we can pass custom focus shadow properly
          box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  
    &:disabled,
    &.disabled {
      color: $color;
      background-color: transparent;
    }
  }
  // scss-docs-end btn-outline-variant-mixin
  
  // scss-docs-start btn-size-mixin
  @mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    // Manually declare to provide an override to the browser default
    border-radius: $border-radius;
  }
  
  /**
   * Buttons - Common
   ******************************************************************************/
  
  // Muted variant for link button
  .btn-link-muted {
    @extend .btn-link !optional;
    color: $form-text-muted;
  
    &:hover {
      color: darken($form-text-muted, 5%);
    }
  }
  
  // Danger variant for link button
  .btn-link-danger {
    @extend .btn-link !optional;
    color: darken($danger, 14%);
  
    &:hover {
      color: darken($danger, 19%);
    }
  }
  
  // Override button-outline-danger with darker red to support gray background
  .btn-outline-danger {
    @include button-outline-variant(
      darken($danger, 16%),
      color-yiq($danger),
      $danger,
      $danger
    );
  }
  
  // Make a button look and behave like a link in text
  .btn-text {
    @extend .btn-link !optional;
    font: inherit;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0;
    border: 0;
  
    &-danger {
      @extend .btn-text !optional;
      color: darken($danger, 14%);
  
      &:hover {
        color: darken($danger, 19%);
      }
    }
  }
  
  // Buttons with icons
  .btn-icon {
    font-weight: $btn-icon-font-weight;
    color: $btn-icon-color;
  
    &:hover {
      color: $btn-icon-primary-color;
    }
  
    &:disabled,
    &.disabled {
      pointer-events: none;
    }
  
    // Primary variant
    &-primary {
      color: $btn-icon-primary-color;
  
      &:hover {
        color: darken($btn-icon-primary-color, 10%);
      }
    }
  
    // Danger variant
    &-danger {
      color: darken($danger, 14%);
  
      &:hover {
        color: darken($danger, 19%);
      }
    }
  
    // Light variant
    &-light {
      color: $btn-icon-color-light;
  
      &:hover {
        color: darken($btn-icon-color-light, 5%);
      }
    }
  
    // Subtle variant
    &-subtle {
      color: $btn-icon-color;
  
      &:hover {
        color: darken($btn-icon-color, 5%);
      }
    }
  
    // Dark variant
    &-dark {
      color: $colors-greyscale-800;
  
      &:hover {
        color: darken($colors-greyscale-800, 5%);
      }
    }
  
    .icon,
    .fa,
    &-primary .fa,
    &-danger .fa,
    &-light .fa,
    &-subtle .fa,
    &-dark .fa {
      font-size: 1.125rem;
      line-height: 1.33333333;
    }
  }
  
  .btn-sticky {
    &-top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -1px;
    }
    &-bottom {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: -1px;
    }
  }
  
  .btn-xs {
    @extend .btn-sm !optional;
  }
  
  // Kinetic form buttons
  [data-element-type='button']:not(.btn) {
    // Add .btn styling. Using @extend doesn't work properly due to multiple
    // :not-selectors in this style definition and the original .btn class
    
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $colors-greyscale-800;
    text-align: center;
    text-decoration: none;
    white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;
    background-color: $btn-background-color;
    border-radius: .375rem !important;
    // margin-left: 1rem;
    padding: .5rem .75rem !important;
    border: $btn-border-width solid transparent;
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
    transition: none;
    &:hover {
      background-color: $colors-primary-100;
      text-decoration: none;
    }
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
    }
  
    // Add custom colors to the kinetic form buttons
    &[data-button-type='submit-page'],
    &[data-button-type='custom'] {
      @extend .btn-primary !optional;
    }
    &[data-button-type='previous-page'],
    &[data-button-type='save'] {
      @extend .btn-subtle !optional;
    }
  }
  // Kinetic form file input button
  .fileinput-button {
    @extend .btn-subtle !optional;
  }
}
